form {

}

.d {
	border: 1px;
	border-style: solid;
	border-color: #999999;

}

h3 {
	color: #ffa533;
	background-color: #ffffff;

}
#ace{

}
#dad{

}
#tel{

}
#loc{

}
#pes{

}

label {
	color: #539dc5;
	font-weight: bold;
}

input {
	background-color: #f1f1f9;
	border-color: #f1f1f9;

}

select {
	background-color: #f1f1f9;
	padding: 5px;
	border: #f1f1f9;
}

.img {
	width: 20px;

}

img {
	width: 20px;
}

li {
	list-style-type: square;
	color: #ffa533;

}

p{

}

.button{

}

button {
	background-color: #d87a08;
	color: #ffffff;
	border: #d87a08;

}

#ddd {


}

#numeroTel {

}

.numeroTel{

}

#tipo {

}

.tipo{

}

.submit {

	color: #ffffff;
	background-color: #fe8c09;

}

#p {


}

#observação {


}

#telefone{

}

.cidade{

}

#local{


}
#linha{
    width: 640px;
    border: 1px solid #999999;

}