form {
	margin-right: 1100px;

}

.d {
	border: 1px;
	border-style: solid;
	border-color: #999999;
	margin: 25px;
	margin-bottom: -35px;
	padding: 10px;
	padding-top: 25px;

}

h3 {
	color: #ffa533;
	position: relative;
	left: 50px;
	top: 35px;
	background-color: #ffffff;

}
#ace{
	margin-right: 583px;
}
#dad{
	margin-right: 553px;
}
#tel{
	margin-right: 647px;
}
#loc{
	margin-right: 620px;
}
#pes{
	margin-right: 550px;
}

label {
	color: #539dc5;
	margin-left: -5px;
	font-weight: bold;
}

input {
	background-color: #f1f1f9;
	margin-bottom: 10px;
	display: flex;
	height: 25px;
	width: 350px;
	border-color: #f1f1f9;

}

select {
	background-color: #f1f1f9;
	margin-bottom: 10px;
	display: flex;
	height: 30px;
	width: 250px;
	padding: 5px;
	border: #f1f1f9;
}

.img {
	width: 20px;
	position: relative;
	left: 400px;
	bottom: 153px;
}

img {
	width: 20px;
}

li {
	list-style-type: square;
	color: #ffa533;

}

p{
	width: 200px;
	position: relative;
	left: 30px;
	bottom: 40px;
}

.button{
	position: relative;
	left: 485px;
	bottom: 160px;
}

button {
	height: 30px;
	background-color: #d87a08;
	color: #ffffff;
	border: #d87a08;

}

#ddd {
	width: 60px;

}

#numeroTel {
	width: 180px;


}

.numeroTel{
	position: relative;
	left: 80px;
	bottom: 59px;
}

#tipo {
	width: 90px;

}

.tipo{
	position: relative;
	left: 280px;
	bottom: 118px;
}

.submit {
	position: relative;
	left: 570px;
	padding-left: 30px;
	width: 120px;
	height: 35px;
	color: #ffffff;
	background-color: #fe8c09;

}

#p {
	width: fit-content;
	position: relative;
	left: 25px;
	top: 45px;

}

#observação {
	width: 635px;
	height: 150px;

}

#telefone{
	height: 130px;
}

.cidade{
	position: relative;
	left: 265px;
	bottom: 58px;
}

#local{
	height: 355px;

}
#linha{
    width: 640px;
    border: 1px solid #999999;
	position: relative;
	bottom: 180px;
}