form {
	text-align: center;
	width: min-content;
	border: 8px;
	border-style: solid;
	border-color: #999999;
	border-radius: 5px;
	background-color: #f4f4f4;
	margin: auto;
}

#botoes {
	margin: 15px;

}

.ex {
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.botao{
	background-color: #727d3e;
	border-radius: 3px;
	color: white;
	height: 30px;
	margin-right: 5px;
}
@media (max-width: 420px){
	form{
		display: flex;
    	flex-direction: column;
    	align-items: center;
    	margin: auto;
	}
}