html,
body {
	height: 100%;
}

#position{
	height: 195px;
	width: 195px;
	border: 10px solid;
	border-color: #267de2 transparent transparent transparent;
	transition: all 1000ms linear 0.5s;
}

.circle{
	border-radius: 50%;
}

.cirquare{
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
}

.topLeft {
	position: absolute;
	left: 0;
	top: 0;
	background: #172b30;
}

.topMid {
	position: absolute;
	left: calc(50% - 100px);
	top: 0;
	background: #115eba;
}

.topRight {
	position: absolute;
	left: calc(100% - 200px);
	top: 0;
	background: #d0b6ad;
}

.midLeft {
	position: absolute;
	left: 0;
	top: calc(50% - 100px);
	background: #Dc2e13;
}

.midMid {
	position: absolute;
	left: calc(50% - 100px);
	top: calc(50% - 100px);
	background: #43b6d5;
}

.midRight {
	position: absolute;
	left: calc(100% - 200px);
	top: calc(50% - 100px);
	background: #C313dc;
}

.botLeft {
	position: absolute;
	left: 0;
	top: calc(100% - 200px);
	background: #ad6b2d;
}

.botMid {
	position: absolute;
	left: calc(50% - 100px);
	top: calc(100% - 200px);
	background: #f3a05a;
}

.botRight {
	position: absolute;
	left: calc(100% - 200px);
	top: calc(100% - 200px);
	background: #ffd060;
}

.giroDir {
	animation: giroDir 2s linear infinite;
}

.giroEsq {
	animation: giroEsq 2s linear infinite;
}

@keyframes giroDir {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes giroEsq {
	from {
		transform: rotate(360deg);
	}

	to {
		transform: rotate(0);
	}
}